.pageNavContainer {
  flex: 1 1 0;
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row-reverse;
  align-items: center;
}

.pageNavContainer button {
  font-size: inherit;
  font-weight: 700;
  background: none;
  border: none;
  outline: none;
  color: white;
  margin: 0 0.8rem;
}